* {
  box-sizing: border-box;
}

:focus {
  
}
html {
  height: 100%;
}
body {
  font-family: Roboto;
  height: 100%;
  
  background: rgb(252,233,1);
  background: linear-gradient(43deg, rgba(252,233,1,1) 24%, rgba(255,122,0,1) 70%);

  display: flex;
  justify-content: center;

}

input {
  background-color: #facf43;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-style: none;
  border-bottom: 2px solid #fd9401 ;

}

.search-container {
  display: flex;
  flex-direction: column;
  margin-top: 15%;

}
.search-container input,
.search-container .suggestions {
  /* TODO */
}
.search-container input {
 
}
.search-container .suggestions {
   /* TODO */
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  background-color: #facf43;

}
ul li:hover {
  background-color: #fda101;
}
